.allclick{
  background-image: url(../image/office-2609180.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.arddds {
  width: 80%;
    position: relative;
    backdrop-filter: blur(8px);
    border-radius: 30px;
  }
  .flexx{
    display: flex;
    
  }

  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left:20px;
    margin: 10px;
  }
  
  .dropbtn {
    width: 200px;
    height: 100px;
    background-color: #f8af05;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 20px;

  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdownContent div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdownContent div:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #e6a100;

  }
  .btn{
    background-color: rgb(235, 177, 17);
    width: 30%;
    margin: 10px;
    border: none;
    color: #ffff;
    border-radius: 10px;
  }